<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="avalonia-all" value="https://nuget-feed-all.avaloniaui.net/v3/index.json"/>
    <add key="ProFeed" value="https://pro-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="internal" value="https://internal-nuget-feed.avaloniaui.net/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ProFeed>
      <add key="Username" value="license" />
      <add key="ClearTextPassword" value="$(ACCELERATE_LICENSE_KEY)" />
    </ProFeed>
    <internal>
      <add key="Username" value="general" />
      <add key="ClearTextPassword" value="$(INTERNAL_FEED_PASSWORD)" />
    </internal>
  </packageSourceCredentials>
</configuration>
